{% extends "app_core/base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} Home{% endblock head_title %}

{% block extra_styles %}
<style>
    .tp-leftarrow,
    .tp-rightarrow {
        display: none !important;
    }
    .hover_black:hover {
        color: black;
    }
</style>
{% endblock extra_styles %}

{% block content %}

<!-- start Banner -->
{% include 'app_core/snippets/banner.html' %}
<!-- end Banner -->

<!-- start Feature -->
{% include 'app_core/snippets/feature.html' %}
<!-- end Feature -->

<!-- start About -->
{% include 'app_core/snippets/about.html' %}
<!-- end About -->

<!-- start Insurance -->
{% include 'app_core/snippets/insurance.html' %}
<!-- end Insurance -->

<!-- start Services -->
{% include 'app_core/snippets/services.html' %}
<!-- end Services -->

<!-- start Social Media -->
{% include 'app_core/snippets/social_media.html' %}
<!-- end Social Media -->

<!-- start Portafolio -->
{% include 'app_core/snippets/portafolio.html' %}
<!-- end Portafolio -->

<!-- start Counters -->
{% include 'app_core/snippets/counters.html' %}
<!-- end Counters -->

<!-- start Partners -->
{% include 'app_core/snippets/partners.html' %}
<!-- end Partners -->

<!-- start Testimonials -->
{% include 'app_core/snippets/testimonials.html' %}
<!-- end Testimonials -->

<!-- start Google Business -->
    {% include 'app_core/snippets/google_business.html' %}
<!-- end Google Business -->

<!-- start Top Page -->
{% include 'app_core/snippets/top_page.html' %}
<!-- end Top Page -->

{% endblock content %}

{% block extra_javascript %}{% endblock extra_javascript %}