# Archivos de caché
__pycache__/
*.pyc

#App migrations and media folders
amazing/app_core/migrations/
amazing/app_user/migrations/
amazing/media/
amazing/static/

# Archivos de migraciones
migrations/*
*_initial.py

# Base de datos SQLite
*.sqlite3
*.db