{% load static %}

<div class="content-wrapper pad-none">
    <div class="content-inner">
        <!-- Feature Section -->
        <section id="feature-section" class="feature-section pad-top-140 index-1 relative">
            <div class="container">
                <!-- Row -->
                <div class="row">								
                    <!-- Col -->
                    <div class="col-lg-4">
                        <div class="feature-box-wrap f-box-style-3 relative">
                            <div class="feature-box-details">											
                                <div class="feature-icon mb-3">
                                    <span class="ti-flag-alt b-radius-50 span_about"></span>
                                </div>
                                <div class="feature-content">
                                    <div class="feature-title text-center relative margin-bottom-10">
                                        <h4>{{skills.title1}}</h4>
                                    </div>
                                    <p class="mb-0 text-center">{{skills.description1}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Col -->
                    <div class="col-lg-4">
                        <div class="feature-box-wrap f-box-style-3 relative">
                            <div class="feature-box-details">											
                                <div class="feature-icon mb-3">
                                    <span class="ti-ruler-pencil b-radius-50"></span>
                                </div>
                                <div class="feature-content">
                                    <div class="feature-title text-center relative margin-bottom-10">
                                        <h4>{{skills.title2}}</h4>
                                    </div>
                                    <p class="mb-0 text-center">{{skills.description2}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Col -->
                    <div class="col-lg-4">
                        <div class="feature-box-wrap f-box-style-3 relative">
                            <div class="feature-box-details">											
                                <div class="feature-icon mb-3">
                                    <span class="ti-home b-radius-50"></span>
                                </div>
                                <div class="feature-content">
                                    <div class="feature-title text-center relative margin-bottom-10">
                                        <h4>{{skills.title3}}</h4>
                                    </div>
                                    <p class="mb-0 text-center">{{skills.description3}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- Container -->
        </section>

        <section id="section-about" class="section-about pad-top-none pad-bottom-none pb-lg-0">
            <div class="container">
                <!-- Row -->
                <div class="row d-flex align-items-center">
                    <!-- Col -->
                    <div class="col-lg-6">
                        <!-- about wrap -->
                        <div class="about-wrap relative">
                            <div class="about-wrap-inner">
                                <!-- about details -->
                                <div class="about-wrap-details">
                                    <!-- about button -->
                                    <div class="text-center">
                                        <div class="about-img mb-4 mb-md-0">
                                            <img src="{{about.image2.url}}" width="430" height="580" class="" alt="about-img">
                                        </div>
                                        <!-- .col -->
                                    </div>
                                </div>
                                <!-- about details End-->
                            </div>
                        </div>
                        <!-- about wrap end -->
                    </div>
                    <!-- .col -->
                    <!-- Col -->
                    <div class="col-lg-6 ps-lg-0">
                        <div class="title-wrap margin-bottom-30">
                            <div class="section-title">
                                <span class="sub-title theme-color text-uppercase">About Us</span>
                                <h2 class="section-title margin-top-5 margin-bottom-35 pb-3">Unique Solutions For Your Business</h2>
                                <span class="border-bottom"></span>
                            </div>
                            <div class="pad-top-15">
                                <div class="margin-bottom-20">{{about.about|safe}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Feature Box -->
                            <div class="col-md-6">
                                <div class="feature-box-wrap f-box-style-1 relative">
                                    <div class="feature-box-details">
                                        <div class="feature-icon margin-bottom-20">
                                            <span class="ti-ruler-alt-2 b-radius-50 d-block"></span>
                                        </div>
                                        <div class="feature-content">
                                            <div class="feature-title relative margin-bottom-10">
                                                <h4>Mission</h4>
                                            </div>
                                            <div class="mb-0">{{about.mision|safe}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Feature Box End -->
                            <!-- Feature Box -->
                            <div class="col-md-6">
                                <div class="feature-box-wrap f-box-style-1 relative">
                                    <div class="feature-box-details">
                                        <div class="feature-icon margin-bottom-20">
                                            <span class="ti-user b-radius-50 d-block"></span>
                                        </div>
                                        <div class="feature-content">
                                            <div class="feature-title relative margin-bottom-10">
                                                <h4>Vision</h4>
                                            </div>
                                            <div class="mb-0">{{about.vision|safe}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Feature Box End -->
                        </div>									
                    </div>
                    <!-- Col -->
                </div>
                <!-- Row -->
            </div>
            <!-- Container -->
        </section>
    </div>
</div>