{% load static %}

<!-- Page Content -->
<div class="content-wrapper pad-none">
    <div class="content-inner">
        <!-- About Section -->
        <section id="section-about" class="section-about pad-bottom-90">
            <div class="container">
                <!-- Row -->
                <div class="row d-flex align-items-center">
                    <!-- Col -->
                    <div class="col-lg-6">
                        <!-- about wrap -->
                        <div class="about-wrap relative">
                            <div class="about-wrap-inner">
                                <!-- about details -->
                                <div class="about-wrap-details">
                                    <!-- about button -->
                                    <div class="text-center">
                                        <div class="about-img">
                                            <img src="{% static 'app_core/images/about-us/architectural-engineering.png' %}" class=""
                                                alt="about-img">
                                        </div>
                                        <!-- .col -->
                                    </div>
                                </div>
                                <!-- about details End-->
                            </div>
                        </div>
                        <!-- about wrap end -->
                    </div>
                    <!-- .col -->
                    <!-- Col -->
                    <div class="col-lg-6">
                        <div class="title-wrap margin-bottom-30">
                            <div class="section-title">
                                <span class="sub-title theme-color text-uppercase">About Us</span>
                                <h2 class="section-title margin-top-5 margin-bottom-35 pb-3">We Have 10 Years Working
                                    Experience.</h2>
                                <span class="border-bottom"></span>
                            </div>
                            <div class="pad-top-15">
                                <p class="margin-bottom-20">There are many variations of passages of Lorem Ipsum
                                    available, but the majority have suffered alteration in some form, by injected
                                    humour, or randomised words.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-auto">
                                <div class="counter-wrapper counter-style-2 mb-4 mb-lg-0">
                                    <div class="counter-value">
                                        <h2><span class="counter-up" data-count="32">0</span><span
                                                class="counter-suffix theme-color">K</span></h2>
                                    </div>
                                    <div class="counter-details text-center">
                                        <div class="counter-title">
                                            <p class="mb-2">Projects Delivered</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Icon List -->
                            <div class="col-md-auto">
                                <div class="icon-list-item relative">
                                    <ul>
                                        <li>
                                            <span class="ti-check"></span>Core Values
                                        </li>
                                        <li>
                                            <span class="ti-check"></span>Innovation
                                        </li>
                                        <li>
                                            <span class="ti-check"></span>Friendly & Helpful
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Icon List End -->
                            <!-- Icon List -->
                            <div class="col-md-auto">
                                <div class="icon-list-item relative">
                                    <ul>
                                        <li>
                                            <span class="ti-check"></span>Creative
                                        </li>
                                        <li>
                                            <span class="ti-check"></span>Quality
                                        </li>
                                        <li>
                                            <span class="ti-check"></span>Passionate Team
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Icon List End -->
                        </div>
                    </div>
                    <!-- Col -->
                </div>
                <!-- Row -->
            </div>
            <!-- Container -->
        </section>
        <!-- About Section End -->
        
        

        <!-- Team Section -->
        <section id="team-section" class="team-section pad-top-95 pad-bottom-90">
            <div class="container">
                <!-- Row -->
                <div class="row">
                    <div class="offset-md-2 col-md-8">
                        <div class="title-wrap text-center">
                            <div class="section-title">
                                <span class="sub-title theme-color text-uppercase">Our Team</span>
                                <h2 class="section-title margin-bottom-60 pb-3">Our Professionals</h2>
                                <span class="border-bottom center"></span>
                            </div>
                        </div>
                    </div>
                    <!--Team Main Slider-->
                    <div class="owl-carousel team-main-wrapper" data-loop="1" data-nav="0" data-dots="1"
                        data-autoplay="0" data-autoplaypause="1" data-autoplaytime="5000" data-smartspeed="1000"
                        data-margin="30" data-items="4" data-items-tab="3" data-items-mob="1">
                        <!--Item-->
                        <div class="item">
                            <div class="team-style-1">
                                <!--Team Inner-->
                                <div class="team-inner margin-bottom-20">
                                    <div class="team-thumb mb-0 relative">
                                        <!--Team Overlay-->
                                        <div class="team-overlay"></div>
                                        <img src="{% static 'app_core/images/team/1.jpg' %}" class="img-fluid thumb w-100" width="270"
                                            height="270" alt="team-img" />
                                        <div class="team-overlay-details top-left-overlay typo-white text-center">
                                            <div class="social-icons">
                                                <a href="#"><span class="ti-facebook"></span></a>
                                                <a href="#"><span class="ti-twitter"></span></a>
                                                <a href="#"><span class="ti-instagram"></span></a>
                                                <a href="#"><span class="ti-linkedin"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-details text-center typo-white pad-20">
                                        <div class="team-name">
                                            <h3 class="mb-0"><a href="#" class="client-name">Phillip Parisis</a></h3>
                                        </div>
                                        <div class="team-designation">
                                            <p class="mb-0">Project Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Team Inner Ends-->
                            </div>
                        </div>
                        <!--Item Ends-->
                        <!--Item-->
                        <div class="item">
                            <div class="team-style-1">
                                <!--Team Inner-->
                                <div class="team-inner margin-bottom-20">
                                    <div class="team-thumb mb-0 relative">
                                        <!--Team Overlay-->
                                        <div class="team-overlay"></div>
                                        <img src="{% static 'app_core/images/team/2.jpg' %}" class="img-fluid thumb w-100" width="270"
                                            height="270" alt="team-img" />
                                        <div class="team-overlay-details top-left-overlay typo-white text-center">
                                            <div class="social-icons">
                                                <a href="#"><span class="ti-facebook"></span></a>
                                                <a href="#"><span class="ti-twitter"></span></a>
                                                <a href="#"><span class="ti-instagram"></span></a>
                                                <a href="#"><span class="ti-linkedin"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-details text-center typo-white pad-20">
                                        <div class="team-name">
                                            <h3 class="mb-0"><a href="#" class="client-name">Simo Kruyt</a></h3>
                                        </div>
                                        <div class="team-designation">
                                            <p class="mb-0">Construction Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Team Inner Ends-->
                            </div>
                        </div>
                        <!--Item Ends-->
                        <!--Item-->
                        <div class="item">
                            <div class="team-style-1">
                                <!--Team Inner-->
                                <div class="team-inner margin-bottom-20">
                                    <div class="team-thumb mb-0 relative">
                                        <!--Team Overlay-->
                                        <div class="team-overlay"></div>
                                        <img src="{% static 'app_core/images/team/3.jpg' %}" class="img-fluid thumb w-100" width="270"
                                            height="270" alt="team-img" />
                                        <div class="team-overlay-details top-left-overlay typo-white text-center">
                                            <div class="social-icons">
                                                <a href="#"><span class="ti-facebook"></span></a>
                                                <a href="#"><span class="ti-twitter"></span></a>
                                                <a href="#"><span class="ti-instagram"></span></a>
                                                <a href="#"><span class="ti-linkedin"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-details text-center typo-white pad-20">
                                        <div class="team-name">
                                            <h3 class="mb-0"><a href="#" class="client-name">Jorge Canaveral</a></h3>
                                        </div>
                                        <div class="team-designation">
                                            <p class="mb-0">Architect</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Team Inner Ends-->
                            </div>
                        </div>
                        <!--Item Ends-->
                        <!--Item-->
                        <div class="item">
                            <div class="team-style-1">
                                <!--Team Inner-->
                                <div class="team-inner margin-bottom-20">
                                    <div class="team-thumb mb-0 relative">
                                        <!--Team Overlay-->
                                        <div class="team-overlay"></div>
                                        <img src="{% static 'app_core/images/team/4.jpg' %}" class="img-fluid thumb w-100" width="270"
                                            height="270" alt="team-img" />
                                        <div class="team-overlay-details top-left-overlay typo-white text-center">
                                            <div class="social-icons">
                                                <a href="#"><span class="ti-facebook"></span></a>
                                                <a href="#"><span class="ti-twitter"></span></a>
                                                <a href="#"><span class="ti-instagram"></span></a>
                                                <a href="#"><span class="ti-linkedin"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-details text-center typo-white pad-20">
                                        <div class="team-name">
                                            <h3 class="mb-0"><a href="#" class="client-name">Aimee Devlin</a></h3>
                                        </div>
                                        <div class="team-designation">
                                            <p class="mb-0">Sales Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Team Inner Ends-->
                            </div>
                        </div>
                        <!--Item Ends-->
                        <!--Item-->
                        <div class="item">
                            <div class="team-style-1">
                                <!--Team Inner-->
                                <div class="team-inner margin-bottom-20">
                                    <div class="team-thumb mb-0 relative">
                                        <!--Team Overlay-->
                                        <div class="team-overlay"></div>
                                        <img src="{% static 'app_core/images/team/5.jpg' %}" class="img-fluid thumb w-100" width="270"
                                            height="270" alt="team-img" />
                                        <div class="team-overlay-details top-left-overlay typo-white text-center">
                                            <div class="social-icons">
                                                <a href="#"><span class="ti-facebook"></span></a>
                                                <a href="#"><span class="ti-twitter"></span></a>
                                                <a href="#"><span class="ti-instagram"></span></a>
                                                <a href="#"><span class="ti-linkedin"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="team-details text-center typo-white pad-20">
                                        <div class="team-name">
                                            <h3 class="mb-0"><a href="#" class="client-name">Rashed Chotta</a></h3>
                                        </div>
                                        <div class="team-designation">
                                            <p class="mb-0">Resource Head</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Team Inner Ends-->
                            </div>
                        </div>
                        <!--Item Ends-->
                    </div>
                    <!--Team Owl Slider-->
                </div>
                <!-- Row -->
            </div>
            <!-- Container -->
        </section>
        <!-- Team Section End -->
        <!-- Get a Quote Section -->
        <section id="get-quote-section"
            class="get-quote-section bg-theme pad-none pad-tb-md-none relative o-visible index-1">
            <div class="container">
                <div class="pad-top-35 pad-bottom-30 pe-2 pe-lg-0 ps-lg-0 ps-2">
                    <!-- Row -->
                    <div class="row">
                        <!-- Col -->
                        <div class="col-md-12">
                            <h3 class="get-quote text-center text-uppercase">Get A Free Quote / Need a Help ?
                                <a class="btn-link" href="contact.html">
                                    Contact Us
                                </a>
                            </h3>
                        </div>
                        <!-- Col -->
                    </div>
                    <!-- Row -->
                    <div class="move-top page-scroll">
                        <a href="#page">
                            <i class="bi bi-arrow-up"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Container -->
        </section>
        <!-- Get a Quote Section End -->
    </div>
</div>