{% load static %}


<section id="section-about" class="section-about pad-bottom-90">
    <div class="container">
        <!-- Row -->
        <div class="row d-flex align-items-center">
            <!-- Col -->
            <div class="col-lg-6 ps-4">
                <!-- about wrap -->
                <div class="about-wrap relative">
                    <div class="about-wrap-inner">
                        <!-- about details -->
                        <div class="about-wrap-details">
                            <!-- about button -->
                            <div class="text-center">
                                <div class="about-img">
                                    <img src="{% static 'app_core/images/about-us/construction-workers.png' %}" class=""
                                        alt="about-img">
                                </div>
                                <!-- .col -->
                            </div>
                        </div>
                        <!-- about details End-->
                    </div>
                </div>
                <!-- about wrap end -->
                <span class="hgt-text b-radius-10 mx-3 bg-theme colorWhite">We have 16 years Experiens. Would You Want
                    to
                    Become Part of Our Team?. - <a href="contact-us.html" class="colorWhite">Contac Us Now</a></span>
            </div>
            <!-- .col -->
            <!-- Col -->
            <div class="col-lg-6">
                <div class="title-wrap p-4 p-md-0">
                    <div class="section-title">
                        <span class="sub-title theme-color text-uppercase">About Us</span>
                        <h2 class="section-title margin-top-5 margin-bottom-35 pb-3">We Have 16 Years Working
                            Experience.</h2>
                        <span class="border-bottom"></span>
                    </div>
                    <div class="pad-top-15">
                        <p class="margin-bottom-20">There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in some form, by injected
                            humour, or randomised words.</p>
                    </div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-md-auto">
                        <div class="counter-wrapper counter-style-2 mb-4 mb-lg-0">
                            <div class="counter-value">
                                <h2><span class="counter-up" data-count="32">0</span><span
                                        class="counter-suffix theme-color">K</span></h2>
                            </div>
                            <div class="counter-details text-center">
                                <div class="counter-title">
                                    <p class="mb-2">Projects Delivered</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Icon List -->
                    <div class="col-md-auto">
                        <div class="icon-list-item relative">
                            <div class="button-section margin-top-35">
                                <a class="btn btn-default colorWhite" href="about-us.html" title="Learn More">Learn
                                    More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Col -->
        </div>
        <!-- Row -->
    </div>
    <!-- Container -->
</section>
<!-- About Section End -->