{% load static %}

<!-- START home 6 REVOLUTION SLIDER 6.6.7 -->
<p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_8_1_wrapper" data-alias="home-6" data-source="gallery"
    style="visibility:hidden;background:transparent;padding:0;">
    <rs-module id="rev_slider_8_1" data-version="6.6.7">
        <rs-slides style="overflow: hidden; position: absolute;">
            <rs-slide style="position: absolute;" data-key="rs-20" data-title="Slide"
                data-thumb="{% static 'app_core/rs-plugin/assets/bg-7-100x50.jpg' %}" data-anim="ms:600;" data-in="o:0;"
                data-out="a:false;">
                <img src="{% static 'app_core/rs-plugin/assets/dummy.png' %}" alt=""
                    class="rev-slidebg tp-rs-img rs-lazyload"
                    data-lazyload="{% static 'app_core/rs-plugin/assets/banner.webp' %}" data-no-retina>

                <h1 id="slider-23-slide-65-layer-1" class="rs-layer" data-type="text" data-rsp_ch="on"
                    data-xy="x:r,r,r,c;xo:30px,30px,30px,0;y:m;yo:-92px,-92px,-92px,-108px;"
                    data-text="s:45;l:22;fw:700;" data-dim="w:auto,auto,auto,auto;h:63.9609px,63px,63px,63px;"
                    data-padding="t:20;r:0;b:22;l:0;" data-frame_0="y:bottom;sX:2;sY:2;o:1;rZ:90deg;"
                    data-frame_1="st:500;sp:1500;" data-frame_999="o:0;e:nothing;st:w;"
                    style="z-index:7;font-family:'Oswald';">WELCOME TO <span class="theme-color">METAL</span>
                </h1>

                <rs-layer id="slider-23-slide-65-layer-2" data-type="text" data-rsp_ch="on"
                    data-xy="x:r,r,r,c;xo:30px,30px,30px,0;y:m;yo:-16px;"
                    data-text="w:normal;s:17;a:right,right,right,center;" data-dim="w:803px,803px,803px,422px;"
                    data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:1380;sp:1500;" data-frame_999="o:0;e:nothing;st:w;"
                    style="z-index:8;font-family:'Arimo';">
                    <div class="text-right">Proin a velit aliquam vitae malesuada rutrum. Aenean ullamcorper placerat
                        porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum luctus neque laoreet rhoncus
                        ipsum, ullamcorper</div>
                </rs-layer>

                <!-- <rs-layer id="slider-8-slide-20-layer-7" class="medium_text" data-type="text"
                    data-color="rgba(255,255,255,1)" data-rsp_ch="on" data-xy="x:c;y:c;yo:-190px;"
                    data-text="w:normal;s:40;l:40;ls:10px;a:center;" data-dim="w:1000px;h:24px;" data-frame_0="y:100%;"
                    data-frame_1="e:power4.inOut;st:1270;sp:2000;" data-frame_999="o:0;e:nothing;st:0;" style="z-index:9;font-family:'Oswald';position:absolute;text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
                    margin:0px; white-space:nowrap;">CREATING HOMES BUILDING DREAMS
                </rs-layer> -->

                <rs-layer id="slider-8-slide-20-layer-8" data-type="text" data-color="rgba(255,255,255,1)"
                    data-rsp_ch="on" data-xy="x:c;y:c;yo:50px;" data-text="w:normal;l:22;"
                    data-actions='o:click;a:scrollbelow;offset:-100px;sp:1000ms;e:power1.inOut;' data-frame_0="x:-50px;"
                    data-frame_1="e:power2.inOut;st:1760;sp:1200;" data-frame_999="o:0;e:nothing;st:0;"
                    style="z-index:10;font-family:'Roboto';">
                    <a id="whatsapp_banner_web" style="background-color: #25d366; color: white;" data-aos="zoom-out-up"
                        data-aos-delay="1200" class="ml-auto mr-auto mt-5 btn" target="_blank"
                        href="https://web.whatsapp.com/send?l=es&phone=1{{contact.phone1}}&text=https://dvineroofingllc.com/ "
                        rel="noopener noreferrer">
                        <i class="whatsapp-icon"></i> Whatsapp
                    </a>
                    <a id="whatsapp_banner_movil" style="background-color: #25d366; color: white;"
                        data-aos="zoom-out-up" data-aos-delay="1200" class="ml-auto mr-auto mt-5 btn" target="_blank"
                        href="https://api.whatsapp.com/send?l=es&phone=1{{contact.phone1}}&text=https://dvineroofingllc.com/ "
                        rel="noopener noreferrer">
                        <i class="whatsapp-icon"></i> Whatsapp
                    </a>
                </rs-layer>

                <!-- <rs-layer id="slider-23-slide-65-layer-12" data-type="shape" data-rsp_ch="on"
                    data-text="w:normal;s:20,17,12,7;l:0,21,15,9;"
                    data-dim="w:3800px,3242px,2463px,1519px;h:1000px,853px,648px,399px;" data-basealign="slide"
                    data-frame_999="o:0;st:w;" style="z-index:5;background-color:rgba(0,0,0,0.5);">
                </rs-layer> -->

                <!-- <rs-layer id="slider-8-slide-20-layer-9" data-type="text" data-color="rgba(255,255,255,1)"
                    data-rsp_ch="on" data-xy="x:c;xo:70px;y:c;yo:50px;" data-text="w:normal;l:22;"
                    data-frame_0="x:50px;" data-frame_1="e:power2.inOut;st:1760;sp:1200;"
                    data-frame_999="o:0;e:nothing;st:8710;" style="z-index:11;font-family:'Roboto';"><a
                        class="btn btn-default colorWhite" href="https://1.envato.market/9dRz3">Buy now</a>
                </rs-layer> -->

                <rs-layer id="slider-8-slide-20-layer-15" data-type="shape" data-rsp_ch="on" data-xy="x:-100px;"
                    data-text="w:normal;" data-dim="w:2800px;h:3000px;" data-basealign="slide"
                    data-frame_999="o:100;st:w;" style="z-index:4;background-color:rgba(0,0,0,0.5);">
                </rs-layer>

            </rs-slide>

        </rs-slides>
    </rs-module>

    <script>
        if (typeof revslider_showDoubleJqueryError === "undefined") { function revslider_showDoubleJqueryError(sliderID) { console.log("You have some jquery.js library include that comes after the Slider Revolution files js inclusion."); console.log("To fix this, you can:"); console.log("1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on"); console.log("2. Find the double jQuery.js inclusion and remove it"); return "Double Included jQuery Library"; } }
    </script>
</rs-module-wrap>
<!-- END REVOLUTION SLIDER -->