{% load static %}

<!-- START home 6 REVOLUTION SLIDER 6.6.7 -->
<p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_8_1_wrapper" data-alias="home-6" data-source="gallery"
    style="visibility:hidden;background:transparent;padding:0;">
    <rs-module id="rev_slider_8_1" data-version="6.6.7">
        <rs-slides style="overflow: hidden; position: absolute;">
            <rs-slide style="position: absolute;" data-key="rs-20" data-title="Slide"
                data-thumb="{% static 'app_core/rs-plugin/assets/bg-7-100x50.jpg' %}" data-anim="ms:600;" data-in="o:0;"
                data-out="a:false;">
                <img src="{% static 'app_core/rs-plugin/assets/dummy.png' %}" alt=""
                    class="rev-slidebg tp-rs-img rs-lazyload"
                    data-lazyload="{{banner.image.url}}" data-no-retina>

                <h1 id="slider-8-slide-20-layer-2" class="rs-layer" data-type="text" data-color="rgba(255,255,255,1)"
                    data-rsp_ch="on" data-xy="x:c;y:c;yo:-60px;" data-text="s:90;l:90;fw:700;" data-frame_0="y:100%;"
                    data-frame_0_mask="u:t;y:100%;" data-frame_1="e:power2.inOut;st:1300;sp:1200;"
                    data-frame_1_mask="u:t;" data-frame_999="o:0;e:nothing;st:0;"
                    style="z-index:8;font-family:'Oswald';">
                    {% if banner.title1 %}
                        {{banner.title1}}
                    {% endif %}
                    <br>
                    {% if banner.title2 %}
                        {{banner.title2}}
                    {% endif %}
                </h1>

                <rs-layer id="slider-8-slide-20-layer-6" class="tp-shape tp-shapewrapper" data-type="shape"
                    data-rsp_ch="on" data-xy="x:c;y:c;yo:-60px;" data-text="fw:700;" data-dim="w:80%;h:250px;"
                    data-border="bos:solid;boc:rgba(44,146,208,1);bow:4,4,4,4;" data-frame_0="y:top;o:1;"
                    data-frame_1="e:power2.inOut;st:500;sp:1200;" data-frame_999="o:0;e:nothing;st:0;"
                    style="z-index:7;background-color:rgba(0,0,0,0.60);cursor:pointer;">
                </rs-layer>

                <rs-layer id="slider-8-slide-20-layer-7" class="medium_text" data-type="text"
                    data-color="rgba(255,255,255,1)" data-rsp_ch="on" data-xy="x:c;y:c;yo:-250px;"
                    data-text="w:normal;s:60;l:30;ls:10px;a:center;" data-dim="w:1000px;h:24px;" data-frame_0="y:100%;"
                    data-frame_1="e:power4.inOut;st:1270;sp:2000;" data-frame_999="o:0;e:nothing;st:0;" style="z-index:9;font-family:'Oswald';position:absolute;text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
                    margin:0px; white-space:nowrap;">
                    {% if banner.subtitle %}
                        {{banner.subtitle}}
                    {% endif %}
                         
                </rs-layer>

                <rs-layer id="slider-8-slide-20-layer-8" data-type="text" data-color="rgba(255,255,255,1)"
                    data-rsp_ch="on" data-xy="x:c;y:c;yo:110px;" data-text="w:normal;l:22;"
                    data-actions='o:click;a:scrollbelow;offset:-100px;sp:1000ms;e:power1.inOut;' data-frame_0="x:-50px;"
                    data-frame_1="e:power2.inOut;st:1760;sp:1200;" data-frame_999="o:0;e:nothing;st:0;"
                    style="z-index:10;font-family:'Roboto';">
                    <a id="whatsapp_banner_web" style="background-color: #25d366; color: white;" data-aos="zoom-out-up" data-aos-delay="1200" class="ml-auto mr-auto mt-5 btn" target="_blank" href="https://web.whatsapp.com/send?l=es&phone=1{{contact.phone1}}&text=https://dvineroofingllc.com/ " rel="noopener noreferrer">
                        <i class="whatsapp-icon"></i> Whatsapp 
                    </a>
                    <a id="whatsapp_banner_movil" style="background-color: #25d366; color: white;" data-aos="zoom-out-up" data-aos-delay="1200" class="ml-auto mr-auto mt-5 btn" target="_blank" href="https://api.whatsapp.com/send?l=es&phone=1{{contact.phone1}}&text=https://dvineroofingllc.com/ " rel="noopener noreferrer">
                        <i class="whatsapp-icon"></i> Whatsapp
                    </a>
                </rs-layer>

                <!-- <rs-layer id="slider-8-slide-20-layer-9" data-type="text" data-color="rgba(255,255,255,1)"
                    data-rsp_ch="on" data-xy="x:c;xo:70px;y:c;yo:50px;" data-text="w:normal;l:22;"
                    data-frame_0="x:50px;" data-frame_1="e:power2.inOut;st:1760;sp:1200;"
                    data-frame_999="o:0;e:nothing;st:8710;" style="z-index:11;font-family:'Roboto';"><a
                        class="btn btn-default colorWhite" href="https://1.envato.market/9dRz3">Buy now</a>
                </rs-layer> -->

                <rs-layer id="slider-8-slide-20-layer-15" data-type="shape" data-rsp_ch="on" data-xy="x:-100px;"
                    data-text="w:normal;" data-dim="w:2800px;h:3000px;" data-basealign="slide"
                    data-frame_999="o:100;st:w;" style="z-index:4;background-color:rgba(0,0,0,0.5);">
                </rs-layer>

            </rs-slide>

            <!-- <rs-slide style="position: absolute;" data-key="rs-21" data-title="Slide"
                data-thumb="{% static 'app_core/rs-plugin/assets/slide-12-100x50.jpg' %}" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
                <img src="{% static 'app_core/rs-plugin/assets/dummy.png' %}" alt="" class="rev-slidebg tp-rs-img rs-lazyload"
                    data-lazyload="{% static 'app_core/rs-plugin/assets/banner.webp' %}" data-no-retina>

                <rs-layer id="slider-8-slide-21-layer-2" data-type="text" data-color="rgba(255,255,255,1)"
                    data-rsp_ch="on" data-xy="x:c;y:c;yo:-60px;" data-text="s:60;l:60;fw:700;" data-frame_0="y:100%;"
                    data-frame_0_mask="u:t;y:100%;" data-frame_1="e:power2.inOut;st:1300;sp:1200;"
                    data-frame_1_mask="u:t;" data-frame_999="o:0;e:nothing;st:8730;"
                    style="z-index:6;font-family:'Oswald';">YOUR RENOVATION SOLUTION
                </rs-layer>

                <rs-layer id="slider-8-slide-21-layer-6" class="tp-shape tp-shapewrapper" data-type="shape"
                    data-rsp_ch="on" data-xy="x:c;y:c;yo:-60px;" data-text="w:normal;fw:700;"
                    data-dim="w:760px;h:113px;" data-border="bos:solid;boc:rgba(44,146,208,1);bow:4,4,4,4;"
                    data-frame_0="y:top;o:1;" data-frame_1="e:power2.inOut;st:500;sp:1200;"
                    data-frame_999="o:0;e:nothing;st:8730;"
                    style="z-index:5;background-color:rgba(0,0,0,0.60);cursor:pointer;">
                </rs-layer>

                <rs-layer id="slider-8-slide-21-layer-7" class="medium_text" data-type="text"
                    data-color="rgba(255,255,255,1)" data-rsp_ch="on" data-xy="x:c;y:c;yo:-145px;"
                    data-text="w:normal;s:20;l:20;ls:10px;a:center;" data-dim="w:633px;h:24px;" data-frame_0="y:100%;"
                    data-frame_1="e:power4.inOut;st:1270;sp:2000;" data-frame_999="o:0;e:nothing;st:8720;" style="z-index:7;font-family:'Oswald';position:absolute;text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
                    margin:0px; white-space:nowrap;">CREATING HOMES BUILDING DREAMS
                </rs-layer>

                <rs-layer id="slider-8-slide-21-layer-8" data-type="text" data-color="rgba(255,255,255,1)"
                    data-rsp_ch="on" data-xy="x:c;y:c;yo:50px;" data-text="w:normal;l:22;"
                    data-actions='o:click;a:scrollbelow;offset:-100px;sp:1000ms;e:power1.inOut;' data-frame_0="x:-50px;"
                    data-frame_1="e:power2.inOut;st:1760;sp:1200;" data-frame_999="o:0;e:nothing;st:8720;"
                    style="z-index:8;font-family:'Roboto';">
                    <a id="whatsapp_banner_web" style="background-color: #25d366; color: white;" data-aos="zoom-out-up" data-aos-delay="1200" class="ml-auto mr-auto mt-5 btn" target="_blank" href="https://web.whatsapp.com/send?l=es&phone=1{{contact.phone1}}&text=https://dvineroofingllc.com/ " rel="noopener noreferrer">
                        <i class="whatsapp-icon"></i> Whatsapp 
                    </a>
                    <a id="whatsapp_banner_movil" style="background-color: #25d366; color: white;" data-aos="zoom-out-up" data-aos-delay="1200" class="ml-auto mr-auto mt-5 btn" target="_blank" href="https://api.whatsapp.com/send?l=es&phone=1{{contact.phone1}}&text=https://dvineroofingllc.com/ " rel="noopener noreferrer">
                        <i class="whatsapp-icon"></i> Whatsapp
                    </a>
                </rs-layer>

                <rs-layer id="slider-8-slide-21-layer-9" data-type="text" data-color="rgba(255,255,255,1)"
                    data-rsp_ch="on" data-xy="x:c;xo:70px;y:c;yo:50px;" data-text="w:normal;l:22;"
                    data-actions='o:click;a:scrollbelow;offset:-100px;sp:1000ms;e:power1.inOut;' data-frame_0="x:50px;"
                    data-frame_1="e:power2.inOut;st:1760;sp:1200;" data-frame_999="o:0;e:nothing;st:8710;"
                    style="z-index:9;font-family:'Roboto';"><a class="btn btn-default colorWhite"
                        href="https://1.envato.market/9dRz3">Buy now</a>
                </rs-layer>

                <rs-layer id="slider-8-slide-20-layer-15" data-type="shape" data-rsp_ch="on" data-xy="x:-100px;"
                    data-text="w:normal;" data-dim="w:2800px;h:3000px;" data-basealign="slide"
                    data-frame_999="o:100;st:w;" style="z-index:4;background-color:rgba(0,0,0,0.5);">
                </rs-layer>
            </rs-slide> -->

        </rs-slides>
    </rs-module>

    <script>
        if (typeof revslider_showDoubleJqueryError === "undefined") { function revslider_showDoubleJqueryError(sliderID) { console.log("You have some jquery.js library include that comes after the Slider Revolution files js inclusion."); console.log("To fix this, you can:"); console.log("1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on"); console.log("2. Find the double jQuery.js inclusion and remove it"); return "Double Included jQuery Library"; } }
    </script>
</rs-module-wrap>
<!-- END REVOLUTION SLIDER -->