{% load static %}

<!-- page-header -->
<div class="page-title-wrap typo-white">
    <div class="page-title-wrap-inner section-bg-img" data-bg="{% static 'app_core/images/bg/banner_secciones.webp' %}">
        <span class="black-overlay"></span>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="page-title-inner">
                        <div id="breadcrumb" class="breadcrumb mb-1 mb-lg-2">
                            <a href="index.html" class="theme-color">Home</a>
                            <span class="current">Privacy</span>
                        </div>
                        <h1 class="page-title mb-0">Privacy</h1>                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-header -->