<!-- Page Content -->
<div class="content-wrapper pad-none">
    <div class="content-inner">					
        <!-- Counter Section -->
        <section class="counter-section pad-bottom-md-none">
            <div class="container">
                <!-- Counter Wrap -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="title-wrap text-center mb-5">
                            <div class="section-title">								            
                                <h2 class="section-title margin-top-5">Counters Center</h2>
                                <span class="border-bottom center"></span>											
                            </div>
                        </div>                                    
                        <div class="row text-center pad-top-30">
                            
                            <!-- Counter -->
                            <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                                <div class="counter-wrapper counter-style-1 text-center">
                                    <div class="counter-icon theme-color mb-4">
                                        <i class="ti-user i-2x"></i>
                                    </div>
                                    <div class="counter-value">
                                        <h3><span class="counter-up" data-count="{{indicators.number1}}">0</span>%</h3>
                                    </div>
                                    <div class="counter-title">
                                        <h4>{{indicators.title1}}</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Counter End -->
                            <!-- Counter -->
                            <div class="col-sm-6 col-md-4 mb-3 mb-sm-0 mb-md-0">
                                <div class="counter-wrapper counter-style-1 text-center">
                                    <div class="counter-icon theme-color mb-4">
                                        <i class="ti-star i-2x"></i>
                                    </div>
                                    <div class="counter-value">
                                        <h3><span class="counter-up" data-count="{{indicators.number2}}">0</span>%</h3>
                                    </div>
                                    <div class="counter-title">
                                        <h4>{{indicators.title2}}</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Counter End -->
                            <!-- Counter -->
                            <div class="col-sm-6 col-md-4">
                                <div class="counter-wrapper counter-style-1 text-center">
                                    <div class="counter-icon theme-color mb-4">
                                        <i class="ti-map i-2x"></i>
                                    </div>
                                    <div class="counter-value">
                                        <h3><span class="counter-up" data-count="{{indicators.number3}}">0</span>%</h3>
                                    </div>
                                    <div class="counter-title">
                                        <h4>{{indicators.title3}}</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Counter End -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- Counter Wrap -->
        </section>
        <!-- Counter Section End -->
        
        
    </div>
</div>