{% load static %}

<div class="content-wrapper pad-none">
    <div class="content-inner">
        <!-- FAQ Section -->
        <section id="faq-section" class="faq-section faq">
            <div class="container">
                <div class="row title-wrap text-center">
                    <div class="section-title">
                        <h2 class="section-title margin-top-5 mb-0">FAQ<span class="theme-color">'s</span>
                        </h2>
                        <span class="border-bottom center"></span>
                    </div>
                </div>
                <!-- Row -->
                <div class="row">
                    <!-- Col -->
                    <div class="col-md-12 mb-5 mb-md-0">
                        <!-- Accordion Begins -->
                        <div class="accordion model-2" id="accordion2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <a class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="true"
                                        aria-controls="collapseFive">Consectetur adipisicing elit sed do eiusmod tempor
                                        incididunt?</a>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordion2">
                                    <div class="accordion-body">
                                        Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.
                                        Praesent id enim sit. Curabitur nec posuere odio ultrices non pretium ac.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">Adipisicing elit sed do eiusmod incididunt?</a>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordion2">
                                    <div class="accordion-body">
                                        Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.
                                        Praesent id enim sit. Curabitur nec posuere odio ultrices non pretium ac.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">Donec tellus massa tristique sit amet condim vel
                                        facilisis quis?</a>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordion2">
                                    <div class="accordion-body">
                                        Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.
                                        Praesent id enim sit. Curabitur nec posuere odio ultrices non pretium ac.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">Consectetur adipisicing elit sed do eiusmod tempor
                                        incididunt?</a>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordion2">
                                    <div class="accordion-body">
                                        Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.
                                        Praesent id enim sit. Curabitur nec posuere odio ultrices non pretium ac.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion Ends -->
                    </div>
                    <!-- Col -->
                    
                </div>
            </div>
            <!-- Container -->
        </section>
        <!-- FAQ Section End -->
    </div>
</div>