{% load static %}

<!-- Get a Quote Section -->
<section id="get-quote-section" class="get-quote-section pt-3 pt-lg-0 broken-top-75 pad-none pad-bottom-md-none relative index-1">
    <div class="container">
        <div class="div-bg-img b-radius-8 pad-30 pad-lr-md-15" data-bg="{% static 'app_core/images/bg/bg-1.jpg' %}">
            <!-- Row -->						
            <div class="row get-quote-2">									
                <!-- Col -->
                <div class="col-lg-9 col-md-12 pb-3 pb-lg-0 item-box">
                    <div class="quote-icon">														
                        <i class="ti-money bg-theme" style="color: white;"></i>														
                    </div>
                    <div class="title-wrap ps-2 ms-1 mb-0">
                        <div class="section-title typo-white mb-0">
                            <h2 class="title mb-1">Cost Of Renovation</h2>
                            <p class="mb-0">Get a roofing quote today for quality and reliable service.</p>
                        </div>																					
                    </div>
                </div>
                <!-- Col -->
                <!-- Col -->
                <div class="col-lg-3 col-md-12 justify-content-lg-end d-flex align-self-center">
                    <div class="button-section">
                        <a class="btn btn-default colorWhite" href="{% url 'app_core:contact' %}#contact_section_form" title="Learn More">Request A Quote</a>
                    </div>
                </div>									
            </div>
            <!-- Row -->
        </div>	
    </div>
    <!-- Container -->
</section>
<!-- Get a Quote Section End -->	