{% load static %}

<!-- Feature Section -->
<section id="feature-section"
    class="feature-section pad-top-none pad-bottom-100 broken-top-75 pad-bottom-md-none relative index-1">
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Col -->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="f-box-style-2 text-center">
                    <div class="f-box-inner div-bg-img b-radius-20"
                        data-bg="{% static 'app_core/images/bg/ft-bg1.jpg' %}">
                        <div class="feature-icon margin-bottom-15">
                            <i class="ti-ruler-pencil theme-color"></i>
                        </div>
                        <div class="feature-content mb-4">
                            <div class="feature-title">
                                <h5 class="margin-bottom-10">Creative</h5>
                            </div>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore.</p>
                        </div>
                        <div class="feature-box-btn">
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Col -->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="f-box-style-2 text-center">
                    <div class="f-box-inner div-bg-img b-radius-20"
                        data-bg="{% static 'app_core/images/bg/ft-bg2.jpg' %}">
                        <div class="feature-icon margin-bottom-15">
                            <i class="ti-briefcase theme-color"></i>
                        </div>
                        <div class="feature-content mb-4">
                            <div class="feature-title">
                                <h5 class="margin-bottom-10">Technology</h5>
                            </div>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore.</p>
                        </div>
                        <div class="feature-box-btn">
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Col -->
            <div class="col-lg-4">
                <div class="f-box-style-2 text-center">
                    <div class="f-box-inner div-bg-img b-radius-20"
                        data-bg="{% static 'app_core/images/bg/ft-bg3.jpg' %}">
                        <div class="feature-icon margin-bottom-15">
                            <i class="ti-light-bulb theme-color"></i>
                        </div>
                        <div class="feature-content mb-4">
                            <div class="feature-title">
                                <h5 class="margin-bottom-10">Go Green</h5>
                            </div>
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore.</p>
                        </div>
                        <div class="feature-box-btn">
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
    <!-- Container -->
</section>
<!-- Feature Section End -->