{% load static %}

<!-- Footer -->
<footer id="footer" class="footer footer-1 footer-bg-img" data-bg="{% static 'app_core/images/bg/footer-bg.jpg' %}">
    <!--Footer Widgets Columns Posibilities 4-->
    <div class="footer-widgets">
        <div class="footer-middle-wrap full-dark">				
            <div class="container">
                <div class="row">
                     <div class="col-lg-3 widget text-widget">
                        <div class="widget-title">
                            <!-- Title -->
                            <h3 class="title typo-white">Alpha Roofing</h3>
                        </div>						
                        <!-- Text -->
                        <div class="widget-text margin-bottom-15">
                            <p>Excellence and craftsmanship for exceptional roofing solutions.</p>
                        </div>
                        <nav>
                            <ul class="contact-info">
                                <!-- List Items -->
                                <li>
                                    <i aria-hidden="true" class="ti-location-pin theme-color"></i> <span> {{contact.location}}, {{contact.city}}.</span>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="ti-email theme-color"></i> <a href="mailto:{{contact.email}}"> {{contact.email}}</a></span>
                                </li>
                                <li>
                                    <i aria-hidden="true" class="ti-headphone theme-color"></i> <a href="" id="contactPhone"> </a></span>
                                </li>									
                            </ul>
                        </nav>
                    </div>
                    <!-- Col -->
                    <div class="col-lg-3 widget text-widget">
                        <div class="widget-title">
                            <!-- Title -->
                            <h3 class="title typo-white">Services</h3>
                        </div>
                        <!-- Text -->
                        <div class="menu-quick-links">
                            <li class="menu-item"><a href="{% url 'app_core:index' %}">Home</a></li>    
                            <li class="menu-item"><a href="{% url 'app_core:about' %}">About Us</a></li>    
                            <li class="menu-item"><a href="{% url 'app_core:index' %}#services_section">Services</a></li>    
                            <li class="menu-item"><a href="{% url 'app_core:works' %}">Works</a></li>    
                            <li class="menu-item"><a href="{% url 'app_core:faq' %}">FAQ's</a></li>    
                            <li class="menu-item"><a href="{% url 'app_core:contact' %}">Contact</a></li>    
                            <li class="menu-item"><a href="{% url 'app_core:privacy' %}">Privacy</a></li>    
                            <!-- <ul class="menu">
                                {% for servicio in servicios %}
                                    <li class="menu-item"><a href="{% url 'app_core:services_view' servicio.id %}">{{servicio.title}}</a></li>    
                                {% endfor %}
                            </ul> -->
                        </div>                           
                    </div>
                    <!-- Col -->
                    <div class="col-lg-3 widget recent-posts">
                        <div class="widget-title">
                            <!-- Title -->
                            <h3 class="title typo-white">Working Hours</h3>
                        </div>
                        <nav>
                            <ul class="contact-info">
                                <!-- List Items -->                                    
                                <li class="mb-0">
                                    <i aria-hidden="true" class="ti-time theme-color"></i> <span> Monday-Friday: 7am to 7pm</span>
                                </li>
                                <li class="mb-0">
                                    <i aria-hidden="true" class="ti-time theme-color"></i> <span> Saturday : 8am to 1pm</span>
                                </li>
                                <li class="mb-0">
                                    <i aria-hidden="true" class="ti-time theme-color"></i> <span> Sunday : Closed</span>
                                </li>
                            </ul>
                        </nav>							
                        <div class="footer-counter counter-value mt-3">
                            <h4><span class="counter-suffix">{{indicators.title1}} : </span><span class="counter-up typo-white" data-count="{{indicators.number1}}">0</span>{{indicators.symbol1}}</h4>
                        </div>
                        <div class="footer-counter counter-value">
                            <h4><span class="counter-suffix">{{indicators.title2}} : </span><span class="counter-up typo-white" data-count="{{indicators.number2}}">0</span>{{indicators.symbol2}}</h4>
                        </div>
                        <div class="footer-counter counter-value">
                            <h4><span class="counter-suffix">{{indicators.title3}} : </span><span class="counter-up typo-white" data-count="{{indicators.number3}}">0</span>{{indicators.symbol3}}</h4>
                        </div>
                    </div>
                    <!-- Col -->
                    <div class="col-lg-3 widget contact-info-widget">
                        <div class="widget-title">
                            <!-- Title -->
                            <h3 class="title typo-white">Social & Newsletter</h3>
                        </div>
                        <h4 class="margin-bottom-10 typo-white">Follow Us On</h4>
                        <div class="social-icons mb-3">
                            <a href="#" class="social-fb"><span class="ti-facebook colorWhite"></span></a>
                            <a href="#" class="social-twitter"><span class="ti-twitter colorWhite"></span></a>
                            <a href="#" class="social-instagram"><span class="ti-instagram colorWhite"></span></a>
                            <a href="#" class="social-pinterest"><span class="ti-pinterest colorWhite"></span></a>
                            <a href="#" class="social-youtube"><span class="ti-youtube colorWhite"></span></a>
                        </div> 
                        <h4 class="margin-bottom-10 typo-white">Subscribe to Our Newsletter</h4>
                        <div class="mailchimp-widget-wrap">
                            <!-- subscribe form -->
                            <form id="subscribe-form-1" class="subscribe-form">
                                <div class="input-group add-on">
                                    <input type="text" class="form-control" name="mcemail" autocomplete="off" id="mcemail-1" placeholder="Email Address">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default subscribe-btn colorWhite" type="submit"><i class="ti-email"></i></button>
                                    </div>
                                </div>
                                <p class="subscribe-status-msg hide"></p>
                            </form>
                        </div>							
                    </div>
                    <!-- Col -->
                </div>
            </div>
        </div>
    </div>
    <!--Footer Copyright Columns Posibilities 4-->
    <div class="footer-copyright">
        <div class="footer-bottom-wrap pad-tb-20 typo-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="footer-bottom-items pull-left">
                            <li class="nav-item">
                                <div class="nav-item-inner">
                                    © <script>document.write(new Date().getFullYear())</script> Alpha Roofing All Rights Reserved
                                </div>
                            </li>
                        </ul>
                        <ul class="footer-bottom-items footer-menu pull-right">
                            <li class="nav-item">               
                                <a href="{% url 'app_core:works' %}">Gallery</a>
                            </li>
                            <li class="nav-item">               
                                <a href="{% url 'app_core:privacy' %}">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->