{% load static %}

<!-- Listing Feature Section -->
<section id="section-listing" class="section-listing pad-top-40 pad-bottom-40 div-bg-img o-visible">
    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="col-xl-6 col-lg-5 mb-3 mb-lg-0" style="display: flex; justify-content: center; align-items: center;">
                <div class="title-wrap text-lg-center mb-0">
                    <div class="section-title mb-0">								            
                        <h2 class="mb-0">We'd Appreciate Your Review Now!</h2>
                    </div>										
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 align-self-center">
                <div class="row">

                    <div class="col-md-auto">
                        <div class="feature-box-wrap f-list-3 mb-2 mb-lg-2 me-3">
                            <div class="feature-box-details">
                                <!-- Media -->
                                <div class="media">
                                    <a href="javascript:;" target="_blank">
                                        <img src="{% static 'app_core/images/gb.png' %}" width="70%" alt="">
                                    </a>										
                                </div>
                                <!-- Media -->
                            </div>
                        </div>
                    </div>
                    
                </div>		
            </div>
        </div>
    </div>
</section>
<!-- Team Section -->