{% load static %}

<!-- Marquee Section -->
<section id="section-marquee" class="section-marquee pad-top-none pad-bottom-none semi-dark insuranceCustom">
    <marquee width="100%" direction="left">
        <span class="mq-item">Amazing flexibility</span> 
        <span class="mq-item stroke-txt">Dark & white Scheme</span> 
        <span class="mq-item">Powerful Shortcodes</span> 
        <span class="mq-item stroke-txt">Latest Bootstrap & Ultra Responsive Features</span> 
        <span class="mq-item">UI Elements Helps Superb Customizable</span> 
        <span class="mq-item stroke-txt">Clean And Simple Code</span> 
    </marquee>
</section>
<!-- Marquee Section End -->