{% load static %}

<!-- Marquee Section -->
<section id="section-marquee" class="section-marquee pad-top-none pad-bottom-none semi-dark insuranceCustom">
    <marquee width="100%" direction="left">
        <span class="mq-item">{{banner.insurance1}}</span> 
        <span class="mq-item stroke-txt">{{banner.insurance2}}</span> 
        <span class="mq-item">{{banner.insurance1}}</span> 
        <span class="mq-item stroke-txt">{{banner.insurance2}}</span> 
        <span class="mq-item">{{banner.insurance1}}</span> 
        <span class="mq-item stroke-txt">{{banner.insurance2}}</span> 
    </marquee>
</section>
<!-- Marquee Section End -->