{% load static %}

<section id="feature-section" class="feature-section pad-top-90 pad-bottom-none pad-bottom-md-none">
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Col -->
            <div class="offset-md-2 col-md-8">
                <div class="title-wrap text-center">
                    <div class="section-title">
                        <h2 class="title mb-0">Who <span class="theme-color">We Are</span></h2>	
                    </div>
                    <div class="section-description">
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa officia deserunt mollit anim est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum nec.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
        <div class="row pad-bottom-30">
            <!-- Col -->
            <div class="col-lg-4">									
                <div class="image-box-wrap relative">
                    <img src="{% static 'app_core/images/about-us/ROOF.webp' %}" alt="" title="" width="370" height="312" />
                </div>
            </div>
            <!-- Col -->
            <div class="col-lg-4">
                <div class="feature-box-wrap f-box-style-4 relative">
                    <div class="feature-box-details">											
                        <div class="feature-icon mb-3">
                            <span class="ti-flag-alt-2 theme-color b-radius-50"></span>
                        </div>
                        <div class="feature-content">
                            <div class="feature-title text-center relative margin-bottom-10">
                                <h4>Roofing</h4>
                            </div>
                            <p class="mb-0 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorem ipsum doloremagna aliqua enim.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Col -->
            <div class="col-lg-4">
                <div class="image-box-wrap relative">
                    <img src="{% static 'app_core/images/about-us/siding.webp' %}" alt="" title="" width="370" height="312" />
                </div>
            </div>
        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">
            <!-- Col -->
            <div class="col-lg-4">									
                <div class="feature-box-wrap f-box-style-4 relative">
                    <div class="feature-box-details">											
                        <div class="feature-icon mb-3">
                            <span class="ti-ruler-alt-2 theme-color b-radius-50"></span>
                        </div>
                        <div class="feature-content">
                            <div class="feature-title text-center relative margin-bottom-10">
                                <h4>Siding</h4>
                            </div>
                            <p class="mb-0 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorem ipsum doloremagna aliqua enim.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Col -->
            <div class="col-lg-4">
                <div class="image-box-wrap relative">
                    <img src="{% static 'app_core/images/about-us/gutters.webp' %}" alt="" title="" width="370" height="312" />
                </div>
            </div>
            <!-- Col -->
            <div class="col-lg-4">
                <div class="feature-box-wrap f-box-style-4 relative">
                    <div class="feature-box-details">											
                        <div class="feature-icon mb-3">
                            <span class="ti-announcement theme-color b-radius-50"></span>
                        </div>
                        <div class="feature-content">
                            <div class="feature-title text-center relative margin-bottom-10">
                                <h4>Gutters</h4>
                            </div>
                            <p class="mb-0 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorem ipsum doloremagna aliqua enim.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
    <!-- Container -->
</section>