{% load static %}

<!-- Portfolio Section -->
<section id="portfolio-section" class="portfolio-section pad-tb-none pad-tb-md-none pad-top-160">
    <!-- Row -->
    <div class="row">								
        <!--Portfolio Main Slider-->
        <div class="owl-carousel portfolio-modern popup-gallery" data-loop="1" data-nav="0" data-dots="0" data-autoplay="1" data-autoplaypause="0" data-autoplaytime="5000" data-smartspeed="1000" data-margin="0" data-items="4" data-items-tab="2" data-items-mob="1">
            <!--Item-->
            <div class="item">
                <!--Portfolio Item-->										
                <div class="portfolio-item portfolio-overlay-wrap mb-0">
                    <!-- .portfolio-thumb -->
                    <div class="portfolio-thumb relative o-hide">
                        <img src="{% static 'app_core/images/portfolio/portfolio-grid/1.webp' %}" class="img-fluid" width="480" height="680" alt="" title="Invest Advices" />
                        <!-- .portfolio-wrap -->
                        <div class="portfolio-wrap">
                            <div class="portfolio-details-overlay">
                                <div class="portfolio-icons">
                                    <a href="{% static 'app_core/images/portfolio/portfolio-grid/1.webp' %}" class="popup-img" title="Gallery 1">
                                        <i class="ti-zoom-in"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .portfolio-wrap -->
                    </div>
                    <!-- .portfolio-thumb -->													
                </div>
                <!--Portfolio Item Ends-->
            </div>
            <!--Item Ends-->
            <!--Item-->
            <div class="item">
                <!--Portfolio Item-->										
                <div class="portfolio-item portfolio-overlay-wrap mb-0">
                    <!-- .portfolio-thumb -->
                    <div class="portfolio-thumb relative o-hide">
                        <img src="{% static 'app_core/images/portfolio/portfolio-grid/2.webp' %}" class="img-fluid" width="480" height="680" alt="" title="Invest Advices" />
                        <!-- .portfolio-wrap -->
                        <div class="portfolio-wrap">
                            <div class="portfolio-details-overlay">
                                <div class="portfolio-icons">
                                    <a href="{% static 'app_core/images/portfolio/portfolio-grid/2.webp' %}" class="popup-img" title="Gallery 2">
                                        <i class="ti-zoom-in"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .portfolio-wrap -->
                    </div>
                    <!-- .portfolio-thumb -->													
                </div>
                <!--Portfolio Item Ends-->
            </div>
            <!--Item Ends-->
            <!--Item-->
            <div class="item">
                <!--Portfolio Item-->										
                <div class="portfolio-item portfolio-overlay-wrap mb-0">
                    <!-- .portfolio-thumb -->
                    <div class="portfolio-thumb relative o-hide">
                        <img src="{% static 'app_core/images/portfolio/portfolio-grid/3.webp' %}" class="img-fluid" width="480" height="680" alt="" title="Invest Advices" />
                        <!-- .portfolio-wrap -->
                        <div class="portfolio-wrap">
                            <div class="portfolio-details-overlay">
                                <div class="portfolio-icons">
                                    <a href="{% static 'app_core/images/portfolio/portfolio-grid/3.webp' %}" class="popup-img" title="Gallery 3">
                                        <i class="ti-zoom-in"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .portfolio-wrap -->
                    </div>
                    <!-- .portfolio-thumb -->													
                </div>
                <!--Portfolio Item Ends-->
            </div>
            <!--Item Ends-->
            <!--Item-->
            <div class="item">
                <!--Portfolio Item-->										
                <div class="portfolio-item portfolio-overlay-wrap mb-0">
                    <!-- .portfolio-thumb -->
                    <div class="portfolio-thumb relative o-hide">
                        <img src="{% static 'app_core/images/portfolio/portfolio-grid/4.webp' %}" class="img-fluid" width="480" height="680" alt="" title="Invest Advices" />
                        <!-- .portfolio-wrap -->
                        <div class="portfolio-wrap">
                            <div class="portfolio-details-overlay">
                                <div class="portfolio-icons">
                                    <a href="{% static 'app_core/images/portfolio/portfolio-grid/4.webp' %}" class="popup-img" title="Gallery 4">
                                        <i class="ti-zoom-in"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .portfolio-wrap -->
                    </div>
                    <!-- .portfolio-thumb -->													
                </div>
                <!--Portfolio Item Ends-->
            </div>
            <!--Item Ends-->
            <!--Item-->
            <div class="item">
                <!--Portfolio Item-->										
                <div class="portfolio-item portfolio-overlay-wrap mb-0">
                    <!-- .portfolio-thumb -->
                    <div class="portfolio-thumb relative o-hide">
                        <img src="{% static 'app_core/images/portfolio/portfolio-grid/5.webp' %}" class="img-fluid" width="480" height="680" alt="" title="Invest Advices" />
                        <!-- .portfolio-wrap -->
                        <div class="portfolio-wrap">
                            <div class="portfolio-details-overlay">
                                <div class="portfolio-icons">
                                    <a href="{% static 'app_core/images/portfolio/portfolio-grid/5.webp' %}" class="popup-img" title="Gallery 5">
                                        <i class="ti-zoom-in"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .portfolio-wrap -->
                    </div>
                    <!-- .portfolio-thumb -->													
                </div>
                <!--Portfolio Item Ends-->
            </div>
            <!--Item Ends-->
            <!--Item-->
            <div class="item">
                <!--Portfolio Item-->										
                <div class="portfolio-item portfolio-overlay-wrap mb-0">
                    <!-- .portfolio-thumb -->
                    <div class="portfolio-thumb relative o-hide">
                        <img src="{% static 'app_core/images/portfolio/portfolio-grid/6.webp' %}" class="img-fluid" width="480" height="680" alt="" title="Invest Advices" />
                        <!-- .portfolio-wrap -->
                        <div class="portfolio-wrap">
                            <div class="portfolio-details-overlay">
                                <div class="portfolio-icons">
                                    <a href="{% static 'app_core/images/portfolio/portfolio-grid/6.webp' %}" class="popup-img" title="Gallery 6">
                                        <i class="ti-zoom-in"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .portfolio-wrap -->
                    </div>
                    <!-- .portfolio-thumb -->													
                </div>
                <!--Portfolio Item Ends-->
            </div>
            <!--Item Ends-->
        </div>
        <!--Portfolio Owl Slider-->
    </div>
    <!-- Row -->						
</section>
<!-- Portfolio Section End -->