{% load static %}

<section id="feature-section" class="feature-section pad-top-90 pad-bottom-none pad-bottom-md-none">
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Col -->
            <div class="offset-md-2 col-md-8">
                <div class="title-wrap text-center">
                    <div class="section-title">
                        <h2 class="title mb-0">Who <span class="theme-color">We Are</span></h2>	
                    </div>
                    <!-- <div class="section-description">
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa officia deserunt mollit anim est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum nec.</p>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Row -->
        <div class="row pad-bottom-30">
            <!-- Col -->
            <div class="col-lg-4">									
                <div class="image-box-wrap relative">
                    <img src="{% static 'app_core/images/about-us/ROOF.webp' %}" alt="" title="" width="370" height="312" />
                </div>
            </div>
            <!-- Col -->
            <div class="col-lg-4">
                <div class="feature-box-wrap f-box-style-4 relative">
                    <a href="{% url 'app_core:services_view' servicios.0.id %}">
                        <div class="feature-box-details">											
                            <div class="feature-icon mb-3">
                                <span class="ti-flag-alt-2 theme-color b-radius-50"></span>
                            </div>
                            <div class="feature-content">
                                <div class="feature-title text-center relative margin-bottom-10">
                                    <h4>{{servicios.0.title}}</h4>
                                </div>
                                <p class="mb-0 text-center">{{servicios.0.description|truncatewords:18|safe}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Col -->
            <div class="col-lg-4">
                <div class="image-box-wrap relative">
                    <img src="{% static 'app_core/images/about-us/siding.webp' %}" alt="" title="" width="370" height="312" />
                </div>
            </div>
        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">
            <!-- Col -->
            <div class="col-lg-4">									
                <div class="feature-box-wrap f-box-style-4 relative">
                    <a href="{% url 'app_core:services_view' servicios.1.id %}">
                        <div class="feature-box-details">											
                            <div class="feature-icon mb-3">
                                <span class="ti-ruler-alt-2 theme-color b-radius-50"></span>
                            </div>
                            <div class="feature-content">
                                <div class="feature-title text-center relative margin-bottom-10">
                                    <h4>{{servicios.1.title}}</h4>
                                </div>
                                <p class="mb-0 text-center">{{servicios.1.description|truncatewords:18|safe}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Col -->
            <div class="col-lg-4">
                <div class="image-box-wrap relative">
                    <img src="{% static 'app_core/images/about-us/gutters.webp' %}" alt="" title="" width="370" height="312" />
                </div>
            </div>
            <!-- Col -->
            <div class="col-lg-4">
                <div class="feature-box-wrap f-box-style-4 relative">
                    <a href="{% url 'app_core:services_view' servicios.2.id %}">
                        <div class="feature-box-details">											
                            <div class="feature-icon mb-3">
                                <span class="ti-announcement theme-color b-radius-50"></span>
                            </div>
                            <div class="feature-content">
                                <div class="feature-title text-center relative margin-bottom-10">
                                    <h4>{{servicios.2.title}}</h4>
                                </div>
                                <p class="mb-0 text-center">{{servicios.2.description|truncatewords:15|safe}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
    <!-- Container -->
</section>