{% load static %}

<!-- Get a Quote Section -->
<section id="get-quote-section" class="get-quote-section pad-none broken-bottom-105 pb-3 pb-lg-0 pad-top-md-none relative index-1">
    <div class="container">
        <div class="b-radius-8 bg-theme pad-top-50 pad-bottom-45 pe-5 pe-lg-0 ps-lg-0 ps-5">
            <!-- Row -->						
            <div class="row get-quote-1">
                <!-- Col -->
                <div class="col-lg-2 pe-lg-0 ps-lg-5 pb-4 pb-lg-0 align-self-center">
                    <div class="quote-icon">														
                        <img src="{% static 'app_core/images/icons/phone-call.png' %}" class="img-fluid thumb ms-0 ms-lg-auto" width="100" height="100" alt="events-img" />														
                    </div>				
                </div>
                <!-- Col -->
                <!-- Col -->
                <div class="col-lg-6 px-3 px-lg-4 pe-lg-5 br-right">
                    <div class="title-wrap mb-0">
                        <div class="section-title mb-0">
                            <h3 class="title mb-3 mb-lg-1 colorWhite">Metal is proud to serve you 24/7. Just Call Us when you need</h3>												
                        </div>																					
                    </div>
                </div>
                <!-- Col -->
                <!-- Col -->
                <div class="col-lg-4 ps-lg-0 pe-lg-3 justify-content-left justify-content-lg-center d-flex align-self-center">
                    <div class="contact-info">
                        <h3 class="colorWhite">Follow Us</h3>
                        <div class="social-icons mb-3 mt-4">
                            <a href="javascript:;" class="social-fb"><span class="ti-facebook colorWhite socialCustom"></span><div class="hover-circle"></div></a>
                            <a href="javascript:;" class="social-twitter"><span class="ti-twitter colorWhite socialCustom"></span><div class="hover-circle"></div></a>
                            <a href="javascript:;" class="social-instagram"><span class="ti-instagram colorWhite socialCustom"></span><div class="hover-circle"></div></a>
                            <a href="javascript:;" class="social-pinterest"><span class="ti-pinterest colorWhite socialCustom"></span><div class="hover-circle"></div></a>
                            <a href="javascript:;" class="social-fb"><i class="fab fa-tiktok colorWhite socialCustom"></i><div class="hover-circle"></div></a>
                        </div> 
                    </div>
                </div>									
            </div>
            <!-- Row -->
        </div>	
    </div>
    <!-- Container -->
</section>
<!-- Get a Quote Section End -->