<!-- Get a Quote Section -->
<section id="get-quote-section" class="get-quote-section bg-theme pad-none pad-tb-md-none relative o-visible index-1">
    <div class="container">
        <div class="pad-top-35 pad-bottom-30 pe-2 pe-lg-0 ps-lg-0 ps-2">
            <!-- Row -->						
            <div class="row">
                <!-- Col -->
                <div class="col-md-12">
                    <h3 class="get-quote text-center text-uppercase">Get A Free Quote / Need Help ?
                        <a class="btn-link" href="contact.html">														
                            Contact Us													
                        </a>
                    </h3>
                </div>
                <!-- Col -->																		
            </div>
            <!-- Row -->
            <div class="move-top page-scroll">
                <a href="#top_page">
                    <i class="bi bi-arrow-up"></i>
                </a>
            </div>
        </div>	
    </div>
    <!-- Container -->
</section>
<!-- Get a Quote Section End -->