{% load static %}

<div class="content-wrapper pad-none">
    <div class="content-inner">					
        <!-- Portfolio Section -->
        <section id="portfolio-section" class="portfolio-section">
            <div class="container">
                <div class="row">
                    <!-- Col -->
                    <div class="offset-md-2 col-md-8">
                        <div class="title-wrap text-center">
                            <div class="section-title">								            
                                <h2 class="section-title margin-top-5 mb-0">Our <span class="theme-color">Works</span></h2>
                                <span class="border-bottom center"></span>
                            </div>									
                        </div>
                    </div>
                    
                    <!-- Col -->
                    <div class="col-md-12">
                        <br>
                        <div class="row portfolio-wrap portfolio-modern">
                            <!-- <div class="filter-style-1" align="center">
                                <div class="filter-wrap">
                                    <button class="btn btn-default filter-button active" data-filter="all">All</button>
                                    <button class="btn btn-default filter-button" data-filter="commercial">Commercial</button>
                                    <button class="btn btn-default filter-button" data-filter="residential">Residential</button>
                                    <button class="btn btn-default filter-button" data-filter="interior">Interior</button>
                                    <button class="btn btn-default filter-button" data-filter="kitchen">Kitchen</button>
                                </div>	
                            </div>
                            <br>										 -->
                            {% for imagen in gallery %}
                                <div class="portfolio-item portfolio-overlay-wrap col-lg-4 col-md-4 col-sm-4 col-xs-6 filter kitchen">
                                    <!-- .portfolio-thumb -->
                                    <div class="portfolio-thumb relative o-hide">
                                        <img src="{{imagen.image.url}}" class="img-fluid" width="480" height="680" alt="" title="Invest Advices" />
                                        <!-- .portfolio-wrap -->
                                        <div class="portfolio-wrap">
                                            <div class="portfolio-details-overlay">
                                                <div class="portfolio-icons">
                                                    <a href="{{imagen.image.url}}" class="popup-img" title="Gallery 1" data-fancybox="gallery">
                                                        <i class="ti-zoom-in"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .portfolio-wrap -->
                                    </div>
                                    <!-- .portfolio-thumb -->													
                                </div>
                            {% endfor %}						
                        </div>
                    </div>	
                </div>
            </div>
        </section>
        <!-- Portfolio Section End -->
    </div>
</div>